html{
	background-color: #e5ccff;
}

body{
	width: 960px;
	margin: auto;
	background-color: #ffe6ff;
	color: #003300;
	text-align; center;
}

.header {
	background-color: #ffe6ff;
	margin-bottom: 1px;
	margin: auto;
}

.header h1	{
	font: normal 32px Arial, Helvetica, san-serif;
	color:white;
	text-align:center;
	line-height: 128px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}

.navigation	{
	background-color: #f9efce;
	height:27px;
	padding:2px;
	margin-bottom: 1px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	
}

a:link, a:visited	{
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	padding: 4px;
	text-transform:uppercase;
	
}

a:hover, a:active {
	background-color:;
}


.main {
	width: 600px;
	text-align: left;
	background-color: #003300;
	padding: 20px;
	margin: auto;
	color: white;
}

.footer {
	background-color: #e2be5e;
	line-height: 50px;
	font: normal Arial, Helvetica, sans-serif;
	color: white;
	padding: 10px;
	clear: both;
}
